@font-face {
  font-family: "PoppinsHeader";
  src: url("../public/Fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsBody";
  src: url("../public/Fonts/Poppins/Poppins-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsBody", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-family: "PoppinsHeader", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
textarea,
p,
input,
input::placeholder,
textarea::placeholder {
  color: black;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: #272522;
}

input,
textarea {
  height: 38px;
  font-size: 18px;
  resize: none;
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  color: #272522;
  background-color: rgb(235, 235, 235);
}
textarea {
  padding-top: 8px;
}
.add-reply-to-comment-input,
.add-comment-input,
.add-reply-to-reply-input,
.edit-comment-input {
  height: 45px;
  transition: 0.2s all ease-in-out;
}

button {
  user-select: none;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  color: #444;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
  -moz-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.notification {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 200;
  background-color: white;
  border-radius: 10px;
  padding: 10px 60px;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.notification.active {
  top: 45px;
  z-index: 200;
  opacity: 1;
  transition: 0.4s all ease-in-out;
}

.nav.active {
  color: blue;
  text-decoration: underline;
}

/* ----------------------- Vocabulary Section */
.vocab-wrapper {
  display: flex;
  gap: 10px;
  width: 500px;
  max-height: 500px;
  min-height: 200px;
  padding: 10px;
  overflow-x: scroll;
  border-radius: 20px;

  scroll-snap-type: x mandatory;
}

.vocab-card {
  min-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  cursor: pointer;
  background-color: transparent;
  perspective: 1000px;
  padding: 5px;
}

.vocab-card p {
  margin-bottom: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .vocab-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
.flip-card-inner.active {
  transform: rotateY(180deg);
}

.card-back-inner {
  text-align: start;
}

.card-front,
.card-back {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-front {
  background-color: palegreen;
  color: black;
}

.card-back {
  background-color: rgb(90, 208, 90);
  color: white;
  transform: rotateY(180deg);
}
/* ----------------------- Fact Section */
.facts-wrapper {
  display: flex;
  gap: 25px;
  width: 500px;
  max-height: 500px;
  min-height: 200px;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  border-radius: 20px;
}

.facts-card {
  min-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  background-color: orange;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

/* ----------------------- Quote Section */

.quotes-wrapper {
  display: flex;
  gap: 25px;
  width: 500px;
  max-height: 500px;
  min-height: 200px;
  padding: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-radius: 20px;
}

.quotes-card {
  min-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  background-color: yellow;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

/* ----------------------- Geography Section */

.geo-wrapper {
  display: flex;
  gap: 25px;
  width: 400px;
  max-height: 1500px;
  min-height: 200px;
  padding: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  border-radius: 20px;
}

.geo-card {
  height: fit-content;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(203, 104, 203);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

/* ----------------- Content section */
.content-section {
  background-color: grey;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

/* ----------------- Counter Elements (Likes & Comments) */
.counterEl {
  pointer-events: none;
  margin: 0;
}

/* ----------------- Likes, Comment and Save button */
.post-controls {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

/* Likes and Save control */
.fillHeart,
.outlineHeart,
.outlineSave,
.fillSave {
  pointer-events: none;
}
/* If button is checked, display one SVG over the other*/
.likeBtn.Checked > .fillHeart,
.likeBtn > .outlineHeart,
.favBtn.Filled > .fillSave,
.favBtn > .outlineSave,
.commentLikeBtn.commentLikeChecked > .fillHeart,
.commentLikeBtn > .outlineHeart,
.replyLikeBtn.replyLikeChecked > .fillHeart,
.replyLikeBtn > .outlineHeart {
  pointer-events: none;
  display: unset;
}
.likeBtn.Checked > .outlineHeart,
.likeBtn > .fillHeart,
.favBtn.Filled > .outlineSave,
.favBtn > .fillSave,
.commentLikeBtn.commentLikeChecked > .outlineHeart,
.commentLikeBtn > .fillHeart,
.replyLikeBtn > .fillHeart,
.replyLikeBtn.replyLikeChecked > .outlineHeart {
  pointer-events: none;
  display: none;
}

.commentLikeBtn {
  display: flex;
  align-items: center;
}

/* Comment control */
.hidden {
  pointer-events: none;
  display: none;
}

.comment-controls {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.comment-outer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment-outer-wrapper.hidden {
  display: none;
}

.comment-section {
  width: 100%;
  overflow-y: scroll;
}

.comment-wrapper {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.single-comment-content {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.new-comment-form,
.reply-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-comment-form {
  margin: 15px 0;
}

.new-comment-form button,
.reply-form button {
  margin-top: 5px;
  width: 100px;
  height: 45px;
}

/* Logged in users comment */
.usersComment:nth-child(1) {
  background-color: lightblue;
}

.users-comment-controls {
  display: flex;
  gap: 5px;
}
.edit-comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-comment-formBtns {
  display: flex;
  gap: 5px;
}

.reply-section {
  height: 100%;
  min-height: 150px;
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 15px;
}

.reply-to-reply-input.hidden,
.reply-controls.hidden {
  display: none;
}

.reply-controls.hidden,
.users-reply.hidden {
  display: none;
}

.reply-controls {
  display: flex;
  gap: 5px;
}
.replies-to-reply-section {
  margin-left: 15px;
}
.reply-form {
  margin-top: 10px;
}

.reply-section-wrapper.hidden {
  display: none;
}
