@font-face {
  font-family: "PoppinsHeader";
  src: url("../public/Fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsBody";
  src: url("../public/Fonts/Poppins/Poppins-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsBody", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  font-family: "PoppinsHeader", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
textarea,
p,
input,
input::placeholder,
textarea::placeholder {
  color: black;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: #272522;
}

input {
  margin: auto;
  height: 38px;
  font-size: 18px;
  resize: none;
  width: 350px;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  color: #272522;
  background-color: rgb(235, 235, 235);
}

button {
  user-select: none;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  color: #444;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
  -moz-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.notification {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 200;
  background-color: white;
  border-radius: 10px;
  padding: 10px 60px;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.notification.active {
  top: 45px;
  z-index: 200;
  opacity: 1;
  transition: 0.4s all ease-in-out;
}

.nav.active {
  color: blue;
  text-decoration: underline;
}
